#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
div label {
  font-size: 20px;
  font-weight: bold;
}
div input {
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.all-user {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.user {
  border: 1px solid rgb(49, 221, 49);
  padding: 10px;
}
